# 리스트

### 1. 리스트 클래스
> list1 = list() : 공백 리스트 생성<br>
> list2 = list("Hello") : 문자 H,e,l,l,o를 요소로 가지는 리스트 생성<br>
> list3 = list(range(0,5)) : 0,1,2,3,4를 요소가 가지는 리스트 생성<br>
> list4 = [] : 공백 리스트 생성<br>
> list5 = ["H","e","l","l","o"] : 문자 H,e,l,l,o를 요소로 가지는 리스트<br>
> list6 - [0,1,2,3,4] : 0,1,2,3,4를 요소가 가지는 리스트 생성<br>

### 2. 복잡한 list
> list7 = [12,"dog",180,14] : 혼합 자료형<br>
> list8 = [["Seoul",10],["Paris",12],["London",50]] : 내장 리스트<br>
> list9 = ["aaa",["bbb",["ccc",["ddd","eee",45]]]] : 내장 리스트<br>

In [10]:
list1 = [2,4,3,6,7,1,0,9]

In [4]:
min(list1)

0

In [6]:
max(list1)

9

In [9]:
# 원 데이터가 sorting됨(변수 대입 안됨)
list1.sort()
list1

[0, 1, 2, 3, 4, 6, 7, 9]

In [16]:
# 원 데이터 변화 X (변수 대입 가능)
sorted(list1)

[0, 1, 2, 3, 4, 6, 7, 9]

In [17]:
list1

[2, 4, 3, 6, 7, 1, 0, 9]

### 간단한 example

In [22]:
# 딕셔너리도 가능
data = {"c":3,"a":5,"b":8}

# key값만 sorting됨
sorted(data)

['a', 'b', 'c']

In [27]:
# 한글도 sorting 가능
data = ["김","현","성"]

sorted(data)

['김', '성', '현']

In [28]:
# 인자가 리스트만 되는 것은 아님(문자열도 가능)
sorted("김현성")

['김', '성', '현']

In [32]:
sorted("This is a test string from Andrew".split())

['Andrew', 'This', 'a', 'from', 'is', 'string', 'test']

In [35]:
list1 = ["가","나","다"]
list1

['가', '나', '다']

In [36]:
# 새로운 데이터를 이미 존재하는 list에 저장
list1.append("라")
list1

['가', '나', '다', '라']

In [37]:
# 이미 존재하는 데이터를 삭제
list1.remove("다")
list1

['가', '나', '라']

In [38]:
# 존재하는 데이터의 index값 반환
list1.index("라")

2

In [39]:
# list의 모든 데이터 삭제, 객체는 유지하되 데이터만 삭제
list1.clear()
list1

[]

In [41]:
list9 = ["aaa",["bbb",["ccc",["ddd","eee",45]]]]
list9

['aaa', ['bbb', ['ccc', ['ddd', 'eee', 45]]]]

In [42]:
# eee 데이터만 출력
list9[1][1][1][1]

'eee'

In [62]:
list1 = [2,5,7]
for data in list1:
    print(data*2, end=" ")

4 10 14

In [60]:
# 함축된 표현식 - 단순 반복문
# 위의 for문과 같은 식!!(함축된 식)
# 연산과 동시에 리스트에 저장
list2 = [data*2 for data in list1]
list2

[4, 10, 14]

In [71]:
# range(10) 사용해서 나누고 난 나머지가 0인 데이터값만 출력
for data in range(10):
    if data%2 == 0:
        print(data, end=" ")

0 2 4 6 8

In [72]:
# 함축된 표현식 - if문의 경우는 for문 뒤에 넣어줌!!
list3 = [data for data in range(10) if data % 2 == 0]
list3

[0, 2, 4, 6, 8]

In [77]:
new_list = []
for x in range(1,30):
    for y in range(x,30):
        for z in range(y,30):
            if x**2+y**2 == z**2:
                new_list.append((x,y,z))
new_list

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [75]:
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2+y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]