In [13]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [2]:
# 게시판 url 지정
base_url = "https://search.naver.com/search.naver?query="

# 검색어
search = "호환"

url = base_url + search
url

'https://search.naver.com/search.naver?query=호환'

In [3]:
# 해당 검색어에 대한 게시글의 html 객체 가져오기
req = requests.get(url).content
doc = BeautifulSoup(req, "html.parser", from_encoding="utf-8")

In [4]:
# 게시글 url 가져오기
keyword = doc.select("#nx_related_keywords > dl > dd.lst_relate._related_keyword_list > ul > li > a")
# keyword = [ word.text for word in keyword ]
keyword = { "keyword_{}".format(ind+1): word.text for ind, word in enumerate(keyword) }
keyword["search"] = search
keyword

{'keyword_1': '호환마마', 'keyword_2': '화환', 'keyword_3': '호환성', 'search': '호환'}

In [65]:
import pandas as pd

data = pd.DataFrame(keyword, index=[0])
data

,keyword_1,keyword_2,keyword_3,keyword_4,keyword_5,keyword_6,keyword_7,keyword_8,keyword_9,keyword_10,search
0,경희대학교,중앙대학교 안성캠퍼스,중앙대학교 수시등급,중앙대학교병원,건국대학교,연세대학교,중앙대 수시,공인회계사 1차 발표,서울시립대학교,동국대학교,중앙대학교

In [77]:
data2 = pd.DataFrame(keyword, index=[0])
data = pd.concat([data, data2], axis=0)
data

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,keyword_1,keyword_10,keyword_2,keyword_3,keyword_4,keyword_5,keyword_6,keyword_7,keyword_8,keyword_9,search
0,경희대학교,동국대학교,중앙대학교 안성캠퍼스,중앙대학교 수시등급,중앙대학교병원,건국대학교,연세대학교,중앙대 수시,공인회계사 1차 발표,서울시립대학교,중앙대학교
0,연세대학교,서울대 손편지,고려대학교,서울대학교병원,서울대 나무위키,서울대 창업동아리,성균관대학교,대학교 전형,한양대학교,서울대학교 학과,서울대학교
0,서울대공원 옥수수,오토바이사이트,서울대공원 음식,sk엔카,엔카,서울대공원 쓰레기,서울대공원 위생,중고차,뽐뿌,어린이대공원,보배드림
0,화환,NaN,호환마마,호환되다,호환성,NaN,NaN,NaN,NaN,NaN,호환

In [97]:
data.columns = [ data.columns[-1], data.columns[0], *data.columns[2:10], data.columns[1] ]
data

,search,keyword_1,keyword_2,keyword_3,keyword_4,keyword_5,keyword_6,keyword_7,keyword_8,keyword_9,keyword_10
0,경희대학교,동국대학교,중앙대학교 안성캠퍼스,중앙대학교 수시등급,중앙대학교병원,건국대학교,연세대학교,중앙대 수시,공인회계사 1차 발표,서울시립대학교,중앙대학교
0,연세대학교,서울대 손편지,고려대학교,서울대학교병원,서울대 나무위키,서울대 창업동아리,성균관대학교,대학교 전형,한양대학교,서울대학교 학과,서울대학교
0,서울대공원 옥수수,오토바이사이트,서울대공원 음식,sk엔카,엔카,서울대공원 쓰레기,서울대공원 위생,중고차,뽐뿌,어린이대공원,보배드림
0,화환,NaN,호환마마,호환되다,호환성,NaN,NaN,NaN,NaN,NaN,호환

### for문으로 여러 검색어 한번에 검색하기

In [117]:
search_list = ["김현성", "통계"]
for search in search_list:
    # 검색할 url 지정
    base_url = "https://search.naver.com/search.naver?query="
    url = base_url + search

    # 해당 검색어에 대한 검색창의 html 객체 가져오기
    req = requests.get(url).content
    doc = BeautifulSoup(req, "html.parser", from_encoding="utf-8")
    
    # 연관검색어 가져오기
    keyword = doc.select("#nx_related_keywords > dl > dd.lst_relate._related_keyword_list > ul > li > a")
    keyword = { "keyword_{}".format(ind+1): word.text for ind, word in enumerate(keyword) }
    keyword["search"] = search

    # 검색어와 연관검색어를 한 행의 데이터프레임으로 생성
    if search == search_list[0]:
        result = pd.DataFrame(keyword, index=[0])
    else:
        row = pd.DataFrame(keyword, index=[0])
        result = pd.concat([result, row])
        
    # 변수 순서 변경
#     result.columns = [ result.columns[-1], *result.columns[0:10]]
    result = result.loc[:,[ result.columns[-1], result.columns[0], *result.columns[2:10], result.columns[1] ]]
    
result

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,search,keyword_1,keyword_2,keyword_3,keyword_4,keyword_5,keyword_6,keyword_7,keyword_8,keyword_9,keyword_10
0,김현성,하선호 김현성,하선호 변신,하선호 탈락,고등래퍼3 탈락,고등래퍼 김현성,제시 고등래퍼,고등래퍼 이영지,고등래퍼3 변신,양승호 오동환,고등래퍼 송민재
0,통계,경찰청 통계,통계청 채용,한국통계,인구 통계청,응용통계학과,출생인구,연세대학교,통계청 산업분류,통계 사이트,통계청 자료

### 모듈화!!
> 문제점 : 처음에 검색한 연관검색어가 10개가 안될경우에는??

In [14]:
# 검색어에 해당하는 연관검색어를 가져오는 함수 => input값은 문자열, 문자열 여러개, 리스트 모두 가능
def naver_search(*search_list):
    if type(search_list[0]) != str:
        search_list = search_list[0]
    for search in search_list:
        # 검색할 url 지정
        base_url = "https://search.naver.com/search.naver?query="
        url = base_url + search

        # 해당 검색어에 대한 검색창의 html 객체 가져오기
        req = requests.get(url).content
        doc = BeautifulSoup(req, "html.parser", from_encoding="utf-8")

        # 연관검색어 가져오기
        keyword = doc.select("#nx_related_keywords > dl > dd.lst_relate._related_keyword_list > ul > li > a")
        keyword = { "keyword_{}".format(ind+1): word.text for ind, word in enumerate(keyword) }
        if len(keyword) < 10:   # 연관검색어 개수가 10개 미만이면 나머지 변수에는 NaN으로 채우기
            ind = 10 - len(keyword) + 1
            for i in range(11-len(keyword), 11, 1):
                keyword["keyword_{}".format(i)] = np.nan
        keyword["search"] = search

        # 검색어와 연관검색어를 한 행의 데이터프레임으로 생성
        if search == search_list[0]:
            result = pd.DataFrame(keyword, index=[0])
        else:
            row = pd.DataFrame(keyword, index=[0])
            result = pd.concat([result, row])

        # 변수 순서 변경
        result = result.loc[:,[ result.columns[-1], result.columns[0], *result.columns[2:10], result.columns[1] ]]
    return result

In [16]:
x = pd.read_csv("../한글부품명.csv", engine="python")
x.head()

           PART_NAME PART_NAME_KOR
0               ASSY          어셈블리
1            HD GITA          기타품목
2         RADIAC SET         래디얼 셋
3  RADIAC CALIBRATOR    래디얼 캘리브레이터
4         R2 TX ASSY     Ｒ２ ＴＸ 앗세이

In [17]:
for i in x.iloc[0:5,1]:
    print(i)

어셈블리
기타품목
래디얼 셋
래디얼 캘리브레이터
Ｒ２ ＴＸ 앗세이

In [170]:
type(x.iloc[0:5,1]) == "pandas.core.series.Series"

False

In [18]:
naver_search(x.iloc[0:5,1])

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,search,keyword_1,keyword_2,keyword_3,keyword_4,keyword_5,keyword_6,keyword_7,keyword_8,keyword_9,keyword_10
0,어셈블리,어셈블리어,어셈블리 뜻,연료필터 어셈블리,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,기타품목,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,래디얼 셋,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,래디얼 캘리브레이터,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Ｒ２ ＴＸ 앗세이,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
def aa(*x):
    return x
d = aa([3,3])
*d[0]

SyntaxError: can't use starred expression here (cell_name, line 7)

In [155]:
type([1,2]) == list

True